html, body {
    margin: 0;
    padding: 0;
    
}
body
{
       background: linear-gradient(to right, rgb(48, 86, 170), rgb(47, 143, 199));
}
.center
{
    text-align: center;
}
.topbar
{
 
   font-size: 25px;
   color: rgb(222, 242, 253);
   
}
.line
{
    height: 10px;
    width: 100%;
    margin: 50px auto;
    background-color: rgb(64, 173, 236);
    margin-top: -50px;
}
.maintext
{
   color: rgb(222, 242, 253);
   font-size: 75px;
   text-align: center;
   width: 100%;
   min-height: 175px;
   box-sizing: border-box;
   white-space: nowrap;
   background: linear-gradient(to right, rgb(52, 105, 219), rgb(64, 173, 236));
   padding-top: 0vh;

   display: flex;
   align-items: center;
   justify-content: center;
}